@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #2b7fff;
  --color-secondary: #3e82f3;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  box-shadow: 0 0 0px 1000px white inset !important;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill::first-line {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

::-webkit-scrollbar {
  width: 6px; /* Ancho de la barra de desplazamiento */
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent; /* Color de fondo de la pista de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
  background: #2b7fff;
  border-radius: 15px;
}
